.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  background-color: #FFF82A;
  border: 5px solid black;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 10px;
  margin: 20px 100px 20px 100px;
}

.App footer {
  background: White;
  opacity: 0.64;
  text-align: center;
  margin: 30px 130px 0 130px;
}

.App a {
  color: #c11f73;
  font-weight: bold;
}