.Dictionary section {
  background-color: white;
  border: 5px solid #28e04a;
  padding: 20px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 100);
  margin: 20px;
}
.Dictionary input {
  width: 100%;
  padding: 6px 3px;
  border: 1px solid #cccccc;
}